html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: black;
}

body {
  margin: 0;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3em;
  margin: 12px;
}

.social {
  display: flex;
  justify-content: center;
}

.social a {
  margin: 0 10px;
  display: inline-block;
}

@media (max-width: 420px) {
  h1 {
    font-size: 2em;
  }
}
